body {
    background-color: #f0f8ff;
}

.navbar {
    background-color: #6c757d; /* Custom grey for navbar */
}

.navbar-nav .nav-link {
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #28a745;
}

.footer {
    background-color: #343a40; /* Grey background */
    text-align: left; /* Align links to the left */
    padding: 20px 0;
    color: #ffffff; /* White text color */
}

.footer a {
    text-decoration: none;
    color: #6c757d; /* Light grey text color */
    margin: 0 10px;
    transition: color 0.3s;
}

.footer a:hover {
    color: #28a745; /* Green on hover */
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.search-bar {
    width: 50%;
    height: 50px;
    font-size: 18px;
    transition: width 0.4s ease;
}

.search-bar:focus {
    outline: 2px solid #28a745;
    width: 60%;
}

.search-button {
    height: 50px;
    font-size: 18px;
}
