{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Product Reviews{% endblock %}</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <!-- Logo -->
      <a id="logo-container" href="{% url 'reviews:home' %}" class="brand-logo left">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="none" stroke="gold" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
        </svg>
      </a>

      <!-- Navigation Links -->
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'reviews:product_list' %}">Products</a></li>

        <li><a href="#">Top Reviews</a></li>
        <li><a href="#">Write a Review</a></li>
        <li><a href="{% url 'reviews:login' %}">Login</a></li> <!-- Correct namespaced login URL -->
      </ul>

      <!-- Mobile Navigation -->
      <ul id="nav-mobile" class="sidenav">
       <li><a href="{% url 'reviews:product_list' %}">Products</a></li>

        <li><a href="#">Top Reviews</a></li>
        <li><a href="#">Write a Review</a></li>
        <li><a href="{% url 'reviews:login' %}">Login</a></li> <!-- Correct namespaced login URL -->
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- Main Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">About Us</h5>
          <p class="grey-text text-darken-4">We are a community of product reviewers helping you make better purchasing decisions. Share your honest opinions and discover products that others love.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Useful Links</h5>
          <ul>
            <li><a class="black-text" href="#!">Privacy Policy</a></li>
            <li><a class="black-text" href="#!">Terms of Service</a></li>
            <li><a class="black-text" href="#!">FAQ</a></li>
            <li><a class="black-text" href="#!">Support</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect with Us</h5>
          <ul>
            <li><a class="black-text" href="#!">Facebook</a></li>
            <li><a class="black-text" href="#!">Twitter</a></li>
            <li><a class="black-text" href="#!">Instagram</a></li>
            <li><a class="black-text" href="#!">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made with love by <a class="brown-text text-lighten-3" href="https://www.example.com">Your Company</a>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

</body>
</html>